#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 50px;
}
button {
    border-radius: 50%;
}
button:hover {
    transform: scale(1.2);
}
.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#playerScore, #computerScore {
    background-color: midnightblue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    height: 30px;
    width: 90px;
    border-radius: 20px;
    margin: 50px;
}